.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.panel {
    word-wrap: break-word;
}

.glyphicon-chevron-left {
    padding-right: 15px;
}
